{% extends 'base.html' %}

{% block content %}
    {% include "flash.html" %}
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Public</th>
                <th>Download</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for update_form in update_forms %}
                <tr>
                    {{ update_form.id }}
                    <td>
                        {{ render_field(update_form.filename, form_type='inline', readonly=True) }}
                    </td>
                    <td>
                        <input type="checkbox" class="form-check" disabled name="public" {% if update_form.public.data %}checked{% endif %} />
                    </td>
                    <td>
                        <a href="/f/{{ update_form.filename.data }}">
                            <img src="/static/svg/download.svg"/>
                        </a>
                    </td>
                    <td><button type="button" class="btn btn-primary file-edit">Edit</button></td>
                    <td><button type="button" class="btn btn-danger file-delete">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr/>
    {{ make_form(upload_form, 'Upload') }}
{% endblock %}

