{%- extends "base.html" %}

{% block sub_navbar %}{% endblock %}

{% block content %}
    <div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
	    <div class="jumbotron">
		<h1>Login</h1>
		{%- with messages = get_flashed_messages() %}
		    {%- if messages %}
			<div class="alert alert-danger" role="alert">
			    {% for message in messages %}
				{{ message }}
			    {% endfor %}
			</div>
		    {%- endif %}
		{%- endwith %}
		{{ render_form(form) }}
                <br/>
	    </div>
	</div>
	<div class="col-sm-4"></div>
    </div>
{%- endblock %}
