{% from 'bootstrap/form.html' import render_form, render_field %}
{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_static %}
{% from 'form.html' import make_form %}

<!DOCTYPE html>
<html lang="en">
    {% block header %}
        <head>
            {% block title %}
                <title>big_J</title>
            {% endblock %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {{ bootstrap.load_css() }}
            {{ render_static('css', 'css/style.css') }}
        </head>
    {% endblock %}
    <body>
        {% block navbar %}
            <nav class="navbar navbar-expand-sm navbar-dark" id="top-navbar">
                <a class="navbar-brand" href="{{ url_for('index') }}" id="index-nav">big_J</a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav navbar-nav mr-auto">
                        {% block sub_navbar %}
                            {{ render_nav_item('files.home', 'files') }}
                            {{ render_nav_item('jmail.home', 'jmail') }}
                        {% endblock %}
                        
                        {# {% if not current_user.is_anonymous and current_user.is_admin() %} #}
                        {#     {{ render_nav_item('manage.home', 'manage') }} #}
                        {# {% endif %} #}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            {{ render_nav_item('auth.logout', 'Logout') }}
                        {% else %}
                            {{ render_nav_item('auth.login', 'Login') }}
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}
            </nav>
        <br>
        
        <main role="main">
            <div class="container-fluid">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
        
        {% block scripts %}
            {{ bootstrap.load_js() }}
            <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
        {% endblock %}
        
</body>
</html>
